body {
  background-color: #F4C7AB;
  margin:0 8px;

}
h1 {
  font-size: 30px;
  display: flex;
  background-color: blanchedalmond;
  justify-content: center;
  background-color: #FFF5EB;

}
h2 {
  display: flex;
  justify-content: center;

}
img {
    max-width: 100%;
    border-radius: 5%;
}

figure {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width:780px) {

  body{
    background-color:#FFF5EB;
  }

  h1{
    font-size:50px;
    background-color:#F4C7AB;
  }

  figure {
    width: 30%;
    float: left;
    margin-right: 50px;
    margin-left: 10%;
    
  }
  
}

@media screen and (min-width: 1000px) {
  body{
    justify-content: center;
    background-color: #B2B8A3;
    margin: 0 20%;

  }

  h2{
    font-size: 30px;
  }

  p{
    font-size: 20px;
  }


}